include *.md
include *.txt
include test/*.py
include WebScripts/*.txt
include WebScripts/data/id
include WebScripts/data/*.csv
include WebScripts/doc/empty.html
include WebScripts/data/uploads/*.txt
recursive-include test/modules *.py
recursive-include test/static *.css *.js
recursive-include WebScripts/scripts *.py
recursive-include WebScripts/config *.ini *.json
recursive-include WebScripts/static *.css *.js *.html *.jpg *.png
prune WebScripts/logs
