include *.md
include *.txt
include *.yml
include *.yaml
include docs/*.md
include test/*.py
include WebScripts/*.txt
include WebScripts/data/id
include WebScripts/data/*.csv
include WebScripts/modules/*.py
include WebScripts/doc/empty.html
include WebScripts/data/uploads/*.txt
recursive-include test test.*
recursive-include .github *.yml
recursive-include WebScripts/scripts *.py
recursive-include WebScripts/config *.ini *.json
recursive-include WebScripts/static *.css *.js *.html *.jpg *.png
exclude audit.*
prune WebScripts/logs
prune test/modules/__pycache__
