		<header id="webscripts_header" class="header border">
			<div id="webscripts_header_text_position">
				<h1 id="webscripts_title" class="title header border">WebScripts Server</h1>

				<p id="webscripts_description" class="paragraph header border">This server can help administrators, SOC teams (Security Operations Center) and devops teams to deploy faster some scripts, to share some "console scripts" with people who have no particular computer knowledge and share environnements of scripts with their teams without install requirements on all computers of the team.</p>
			</div>

			<div id="webscripts_header_image_position"><a href="/web/"><img id="webscripts_header_image" src="/static/webscripts_header.png"></a></div>
		</header>