name: WebScripts38 Tests
on: [push]

jobs:
  build:

    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
    
    name: "Run test on ${{ matrix.os }} with 3.8"
    runs-on: "${{ matrix.os }}"
    
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Test WebScripts with unittest
        run: |
          python WebScripts/scripts/to_3.8/to_3.8.py
          python -c "from os import replace;from shutil import rmtree,copytree;rmtree('WebScripts');copytree('WebScripts38', 'WebScripts');replace('setup38.py', 'setup.py')"
          python -m unittest discover -s test -p Test*.py -v
          python -m WebScripts --test-running
          python -m pip install .
          python -m pip install --force-reinstall --install-option "-pabc" --install-option "-d." .
          python setup.py install --admin-password=abc --directory=.
